.Table-header {
    background-color: Green;
    color: white;
    padding: 10px;
    text-align: center;
}
 
 
.GeorgeMichael-Row {
    background-color:  	#F08080;
}
 
.Other-Row {
    background-color: lightgreen;
}
  